[Unit]
Description=Nym Mixnode (v1.1.19)
StartLimitInterval=350
StartLimitBurst=10

[Service]
User=ansible
LimitNOFILE=65536
ExecStart=/opt/nym/nym-mixnode run --id {{ mixnode_id }}
KillSignal=SIGINT
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
